.commerce {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.commerce > h3 {
	font-size: 15px;
	font-weight: 500;
	padding: 10px;
}
.controllers {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.controllers > button.active {
	padding: 10px 16px;
	border-radius: 8px;
	background: var(--linear-gradient-button);
	box-shadow: 5px 4px 10.9px 0 rgba(0, 0, 0, 0.1);
	color: var(--clr-primary-text);
	border: 1px solid transparent;
	transition: opacity 500ms ease;
}
.controllers > button:hover {
	opacity: 0.9;
}
.controllers > button.inactive {
	padding: 5px 10px;
	border: none;
	background-color: inherit;
	color: var(--clr-black-opacity);
}
.active,
.inactive {
	font-size: var(--fs-button);
	font-weight: 600;
}
.productCards {
	display: flex;
	flex-direction: column;
	gap: 17px;
}
.noItems > p {
	padding: 5px 10px;
	font-size: var(--fs-header-regular);
	font-weight: 600;
	color: var(--clr-secondary-text);
}

@media (width > 768px) {
	.commerce {
		border: 0.2px solid rgb(0, 0, 0, 0.2);
		margin-inline: 40px;
		padding: 40px 20px;
		min-height: 739px;
		gap: 40px;
	}
	.commerce > h3 {
		font-size: 35px;
		font-weight: 600;
	}
	.controllers {
		justify-content: center;
		gap: 10px;
	}
	.controllers button {
		cursor: pointer;
	}
	.productCards {
		display: grid;
		grid-template-columns: repeat(3, 375px);
		grid-template-rows: 447px;
		padding-bottom: 28px;
	}
	.productCards.noItems {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.productCardsContainer > button {
		display: block;
		border: none;
		background-color: inherit;
		padding: 8px;
		margin-left: auto;
		font-size: var(--fs-button);
		font-weight: 600;
		cursor: pointer;
		transition: 0.8 500ms ease;
	}
	.productCardsContainer > button:hover {
		opacity: 0.8;
	}
	.noItems > p {
		padding: 0;
	}
}
