.backgroundImg {
	background-image: radial-gradient(circle at 60% 20%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0) 100%),
		url('../../assets/images/hero-img.png');
	background-size: cover;
	background-position: 30% 50%;
	min-height: 100vh;
	color: var(--clr-primary-text);
}
.heroSection {
	display: flex;
	flex-direction: column;
	padding-top: 112px;
}
.heroTitleWrapper > h1 {
	font-size: var(--fs-header-xl);
	font-weight: 600;
	line-height: 130%;
}
.heroTitleWrapper > p {
	font-size: var(--fs-hero-info);
	font-weight: 600;
	line-height: 120%;
}
.heroSection button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: inherit;
	gap: 12px;
	padding: 16px 28px;
	color: var(--clr-primary-text-opacity);
	font-weight: 600;
	border: 1px solid var(--clr-primary-text);
	border-radius: var(--border-radius);
}
.heroSection button:hover {
	cursor: pointer;
}
.heroTitleWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 313px;
	padding-bottom: 50px;
}

@media (width > 768px) {
	.backgroundImg {
		background-size: cover;
		background-position: 30% 50%;
		min-height: 100vh;
	}
	.heroTitleWrapper {
		gap: 30px;
		max-width: 630px;
		padding-bottom: 30px;
	}
	.heroTitleWrapper > h1 {
		line-height: 100%;
	}
	.heroTitleWrapper > p {
		line-height: 1.5rem;
	}
	.heroSection {
		padding-top: 161px;
		min-height: 390px;
	}
}
