.footerContent {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 40px;
	padding-top: 8px;
}

@media (width > 768px) {
	.footerContent {
		flex-direction: row;
		gap: 64px;
		padding-bottom: 0;
		padding-top: 0;
		padding-block: 64px;
		align-items: flex-start;
		justify-content: flex-start;
	}
}
