.sectionHeader {
	height: 34px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 15px;
	border-bottom: 0.2px solid rgb(0, 0, 0, 0.2);
	font-weight: 500;
	font-size: var(--fs-header-regular);
}
.sectionHeader > img {
	width: 24px;
	height: 24px;
}

@media (width > 768px) {
	.sectionHeader {
		height: 68px;
		align-items: center;
	}
	.sectionHeader > img {
		width: 32px;
		height: 32px;
	}
}
