.subscribe {
	padding-block: 40px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.subscribe > form {
	background-color: transparent;
	display: flex;
	flex-direction: column;
}
.subscribe > div {
	color: var(--clr-primary-text);
}
.subscribe h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}
.subscribe p {
	font-size: 13px;
	line-height: 110.00000000000001%;
	color: var(--clr-light-gray);
}
.subscribe > form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.subscribe > form > button {
	border-radius: 7.07px;
	border: 0.88px solid var(--clr-very-light-gray-2);
	box-shadow: 0px 0.88px 1.77px 0px rgba(16, 24, 40, 0.05);
	padding: 8.83px 0;
	font-size: var(--fs-subscribe-button);
	color: var(--clr-slate-gray-2);
	font-family: var(--font-inter);
	font-weight: 600;
	line-height: 21.2px;
}

@media (width > 768px) {
	.subscribe {
		padding-block: 48px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 64px;
	}
	.subscribe p {
		font-size: 20px;
		line-height: 30px;
	}
	.subscribe > div {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	.subscribe > form {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
	}
	.subscribe > form > button {
		border-radius: 8px;
		padding: 10px 18px;
		line-height: 24px;
		max-height: 44px;
		transform: translateY(-2px);
		cursor: pointer;
		transition: color 500ms ease, background-color 500ms ease;
	}
	.subscribe > form > button:hover {
		background-color: transparent;
		color: var(--clr-primary-text);
	}
}
