.footerLinks {
	display: grid;
	gap: 45px;
	grid-template-columns: repeat(2, 144px);
	grid-template-rows: repeat(3, 204px);
}

@media (width > 768px) {
	.footerLinks {
		gap: 32px;
		grid-template-columns: repeat(5, 140.8px);
		grid-template-rows: 204px;
	}
}
