.navMenu {
	display: flex;
	align-items: center;
	gap: 32px;
}
.navMenu button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: none;
	background-color: inherit;
	gap: 8px;
	padding: 4px;
	color: var(--clr-primary-text-opacity);
	font-weight: 600;
	cursor: pointer;
	transition: color 500ms ease;
}
.navMenu button:hover {
	color: var(--clr-primary-text);
}
.navMenu > li {
	position: relative;
}
.dropdown {
	position: absolute;
	top: 100%;
	z-index: 50;
	padding: 4px;
	background-color: var(--clr-black);
	background: var(--linear-gradient-mobile-menu, var(--clr-black));
	color: var(--clr-primary-text);
	opacity: 0.9;
	border-radius: 8px;
}
.dropdown button {
	width: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: color 500ms ease;
}
.dropdown button:hover {
	color: var(--clr-primary-text);
}
